{{!-- html page where handlebars places dynamic code  --}}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">{{!-- represents any character in Unicode standard --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">{{!-- link to bootstrap css style sheet--}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">{{!-- link to local css style sheet --}}
  <title>Home Page</title>
</head>

<body>
  {{{body}}}{{!-- main place holder for handlebars to inject items to  --}}
</body>

</html>
